canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: auto;
}
.roller__canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
.grid {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.album__item {
  margin: 0 0 4rem;
}

.album__item-img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.album__item-img--large {
  pointer-events: none;
  position: fixed;
  opacity: 0;
}

.album__item-title {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 1.25rem 0;
  line-height: 1;
  color: var(--color-title);
}

.album__item-text {
  color: var(--color-grid-text);
  font-size: 0.95rem;
}

.fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2rem;
  z-index: 15;
  grid-template-columns: 100%;
  pointer-events: none;
}

.fullview__item {
  pointer-events: none;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 50% 50%;
}

.fullview__item--current {
  pointer-events: auto;
}

.fullview__item-title {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  opacity: 0;
  align-self: end;
  color: var(--color-title);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullview__close {
  position: fixed;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 12vw;
  z-index: -1;
  width: 30px;
  height: 30px;
  border: 0;
  display: block;
  padding: 0;
  background: none;
  margin: 0;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.fullview__close.active{
  z-index: 15;
}
.fullview__close:before, .fullview__close:after{
  content: '';
  position: absolute;
  width: 50%!important;
  height: 1px;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.fullview__item--current ~ .fullview__close {
  pointer-events: auto;
}

.fullview__close:focus {
  outline: none;
}

.fullview__close svg {
  fill: currentColor;
}

@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .frame {
    text-align: left;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    padding: 2rem 3rem;
    grid-template-columns: 60% 40%;
    grid-template-areas: "title demos";
  }
  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }
  .frame__title {
    margin: 0 5vw 0 0;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .content {
    height: 100vh;
    justify-content: center;
  }
}
